footer#colophon {
	padding-top: clamp(3.5rem, 2.429rem + 2.857vw, 5rem);
	padding-bottom: .4rem;
	p,
	.p,
	a {
		color: rgba($white, .75);
	}	
	.top {
		text-align: center;
		@include breakpoint(tablet) {
			text-align: left;
		}
		.left {
			padding-bottom: 1rem;
			p {
				margin-top: 1.7em;
			}
		}
		
		.right {
			ul {
				justify-content: center;
				@include breakpoint(tablet) {
					justify-content: flex-end;
				}
			}
		}
		
		ul#footer-nav {
			@include breakpoint(tablet) {
				padding-bottom: rem-calc(11);
			}
			li {
				margin: rem-calc(8) rem-calc(16);
				@include breakpoint(tablet) {
					margin: 0 0 rem-calc(22) rem-calc(44);
				}
				a {
					@extend .h4;
					transition: color .3s ease;
					span {
						display: inline-block;
						&:after {
							content: '';
							display: block;
							height: 1px;
							background-color: $color-clownfish-orange;
							width: 0%;
							transition: width .3s ease;
						}
					}
				}
			}
			.current-menu-item a,
			a:hover,
			a:focus {
				color: $color-clownfish-orange;
				span:after {
					width: 100%;
				}
			}
		}
		
		ul#social-links {
			margin-bottom: 1rem;
			@include breakpoint(medium down) {
				padding-bottom: 2rem;
			}
			li {
				margin: rem-calc(8);
				@include breakpoint(tablet) {
					margin: rem-calc(8) rem-calc(16);
				}
				a {
					svg {
						g {
							transition: .25s ease;
						}
					}
					&:hover,
					&:focus {
						g {
							fill: $color-clownfish-orange;
						}
					}
				}
			}
		}
	}
	
	.site-info {
		border-top: 1px solid rgba($white, .3);
		padding-top: 1.6rem;
		p,
		.p,
		a {
			font-size: rem-calc(14);
		}
		a {
			transition: color .25s ease;
			&:hover,
			&:focus {
				color: $color-clownfish-orange;
			}
		}
		.left,
		.right {
			padding-bottom: 1.5rem;
		}
		.left {
			justify-content: center;
			@include breakpoint(tablet) {
				justify-content: flex-start;
			}
		}
		.right {
			text-align: center;
			justify-content: center;
			@include breakpoint(tablet) {
				text-align: left;
				justify-content: flex-end;
			}
		}
	}

	
}