.has-bg {
	position: relative;
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
	}
}

.position-relative {
	position: relative;
}

.has-object-fit-img {
	position: relative;
	overflow: hidden;
	.img-fill {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.overflow-hidden {
	overflow: hidden;
}