a {
	color: $white;
}

p.p24,
.p24 p {
	font-size: clamp(1.063rem, 0.875rem + 0.833vw, 1.5rem);
}

p.p30,
.p30 p {
	font-size: clamp(1.313rem, 1.071rem + 1.071vw, 1.875rem);
	line-height: 1.25;
}


h1,
.h1 {
	font-size: clamp(2.625rem, 2.143rem + 2.143vw, 3.75rem);
	&.display {
		font-family: $font-display;
		font-size: clamp(2.5rem, 0rem + 12.5vw, 5rem);
		line-height: 1;
		color: rgba($white, .5);
		@include breakpoint(medium) {
			font-size: clamp(4.375rem, 3.571rem + 3.571vw, 6.25rem);
		}
	}
}

h2,
.h2 {
	letter-spacing: .13em;
	line-height: 1.21;
	text-transform: uppercase;
	font-size: clamp(1.75rem, 1.429rem + 1.429vw, 2.5rem);
}

.tabs-title > a,
a.h3.accordion-title,
h3,
.h3 {
	font-weight: 700;
	font-size: clamp(1.094rem, 0.893rem + 0.893vw, 1.563rem);
}

a.h3.accordion-title {
	margin: 0;	
	transition: color .25s ease;
	&:before {
		transform: translateY(-.15em);
	}
	&:focus {
		color: $white;
	}
}

h4,
.h4 {
	letter-spacing: .12em;
	text-transform: uppercase;
	font-size: clamp(1rem, 0.893rem + 0.476vw, 1.25rem);
}