a {
	color: $white;
}

p.p24,
.p24 p {
	font-size: clamp(1.063rem, 0.875rem + 0.833vw, 1.5rem);
}

h1,
.h1 {
	font-size: clamp(2.625rem, 2.143rem + 2.143vw, 3.75rem);
	&.display {
		font-family: $font-display;
	}
}

h2,
.h2 {
	letter-spacing: .13em;
	text-transform: uppercase;
	font-size: clamp(1.75rem, 1.429rem + 1.429vw, 2.5rem);
}

.tabs-title > a,
h3,
.h3 {
	font-weight: 700;
	font-size: clamp(1.094rem, 0.893rem + 0.893vw, 1.563rem);
}

h4,
.h4 {
	letter-spacing: .12em;
	text-transform: uppercase;
	font-size: clamp(1rem, 0.893rem + 0.476vw, 1.25rem);
}