// Fonts
$font-sans: 'Univers LT Std', Helvetica, Roboto, Arial, sans-serif;
$font-display: 'Yielding Timber', Helvetica, Roboto, Arial, sans-serif;

// Colors
$color-ocean-blue: #004767;
$color-shallow-blue: #009BC6;
$color-storm-grey: #A8BCC6;
$color-clownfish-orange: #FF8E2E;
$color-starfish-orange: #EB7200;
$color-ocher: #C5914F;
$color-utra-blue: #003044;