@font-face {
  font-family: 'Univers LT Std Cn';
  font-style: normal;
  font-weight: 300;
  src: local(''),
     url('../fonts/univers-lt-std/UniversLTStd-LightCn.woff2') format('woff2'),
     url('./fonts/univers-lt-std/UniversLTStd-LightCn.woff') format('woff');
}

@font-face {
  font-family: 'Univers LT Std';
  font-style: normal;
  font-weight: 300;
  src: local(''),
	   url('../fonts/univers-lt-std/UniversLTStd-Light.woff2') format('woff2'),
	   url('./fonts/univers-lt-std/UniversLTStd-Light.woff') format('woff');
}

@font-face {
  font-family: 'Univers LT Std';
  font-style: normal;
  font-weight: 700;
  src: local(''),
	   url('../fonts/univers-lt-std/UniversLTStd-Bold.woff2') format('woff2'),
	   url('./fonts/univers-lt-std/UniversLTStd-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Yielding Timber';
  font-style: normal;
  font-weight: 400;
  src: local(''),
	   url('../fonts/yielding-timber/yieldingtimber.woff2') format('woff2'),
	   url('./fonts/yielding-timber/yieldingtimber.woff') format('woff');
}