.content-50-50 {
	padding-top: clamp(4.375rem, 3.036rem + 3.571vw, 6.25rem);
	padding-bottom: clamp(4.375rem, 3.036rem + 3.571vw, 6.25rem);
	.img-wrap {
		@include breakpoint(medium down) {
			margin-bottom: 2rem;
		}
	}
}