.content-50-50 {
	padding-top: clamp(4.37rem, 3.564rem + 3.581vw, 6.25rem);
	padding-bottom: clamp(4.37rem, 3.564rem + 3.581vw, 6.25rem);
	.img-wrap {
		@include breakpoint(medium down) {
			margin-bottom: 2rem;
		}
	}
}