.contact-hero {
	.module-padding {
		padding-top: clamp(2.844rem, 2.322rem + 2.322vw, 4.063rem);
		padding-bottom: clamp(2.844rem, 2.322rem + 2.322vw, 4.063rem);
		min-height: 80vh;
		@include breakpoint(medium) {
			min-height: 580px;
		}
	}
	.eyebrow {
		h1 {
			margin-bottom: 2em;
		}
	}
}