.home-hero {
	.module-spacing {
		min-height: 100vh;
		padding-top: clamp(4.375rem, 3.571rem + 3.571vw, 6.25rem);
		padding-bottom: clamp(4.375rem, 3.571rem + 3.571vw, 6.25rem);
	}
	h1 {
		margin-bottom: 0.52em;
	}
	.p30 {
		max-width: rem-calc(610);
	}
	img.img-fill {
		&.orientation-left {
			object-position: left;
		}
		&.orientation-top {
			object-position: top;
		}
		&.orientation-right {
			object-position: right;
		}
		&.orientation-bottom {
			object-position: bottom;
		}
	}
}