.orange-text-with-flyby-animation {
	padding-top: clamp(5.425rem, 4.429rem + 4.429vw, 7.75rem);
	padding-bottom: clamp(4.244rem, 3.464rem + 3.464vw, 6.063rem);
	color: $color-starfish-orange;
	.fish-wrap {
		width: 50vw;
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		transform: translateX(-100%);
	}
	.large-text {
		p {
			line-height: .98;
			font-size: clamp(2.25rem, 1.875rem + 1.667vw, 3.125rem);
			margin-bottom: 0.68em;
		}
	}
	.medium-text {
		p {
			line-height: 1.4;
			font-size: clamp(1.531rem, 1.25rem + 1.25vw, 2.188rem);
			&:not(:last-child):only-child {
				margin-bottom: 0.85em;
			}
		}
	}
}