.titles-left-copy-right {
	padding-top: clamp(4.287rem, 3.499rem + 3.501vw, 6.125rem);
	padding-bottom: clamp(4.287rem, 3.499rem + 3.501vw, 6.125rem);
	.eyebrow {
		h2 {
			margin-bottom: 2.2em;
		}
	}
	.bg {
		svg {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}