.mce-content-body.acf_content {
	background: #003044;
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	p,
	ul,
	ol,
	a {
		color: #fff;	
	}
	a {
		text-decoration: underline;
	}
	.acf-tooltip .acf-fc-popup a {
		white-space: normal;
	}
}